git+https://github.com/rthalley/dnspython.git@f5d8cc566ededacfe4ea2cade6445e25b5fe0fe1
# Not working yet:
#git+https://github.com/rkokkelk/python-athom-api.git@e517cd32844ba13b0b67dc523c8976db975acf60
requests==2.21.0